/* start slider main */
.slider_main img{
    display: inline-block;
    width: 100%  ;
    height: 100%;

}
main{
    background: #212121;
    color: #fff;
    padding-bottom: 50px;
}
.slider_collect{
    position: relative;
    width: 100%;
    overflow: hidden;
}
.slider_main{
    
    position: relative;
    width: 100%;
    overflow: hidden;
    
}
.slider_collect .slick-dots li button{
    border-radius: 50% !important;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    -ms-border-radius: 50% !important;
    -o-border-radius: 50% !important;
    display: block;
    width: 15px;
    height: 15px;
    background-color: #acacac;
}
.slider_collect .slick-dots .slick-active button{
    background-color: #fff;
 }
.slider_main .slick-dots{
    position: absolute;
    z-index: 10;
    bottom: 0;
    left: 44%;
    display: flex !important;

}
.slider_main .slick-dots .slick-active{
    border-radius: 50% !important;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    -ms-border-radius: 50% !important;
    -o-border-radius: 50% !important;
    display: block;
    width: 20px;
    height: 20px;
    font-size: 0;
    border: 1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .slick-dots .slick-active button{
    border-radius: 50% !important;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    -ms-border-radius: 50% !important;
    -o-border-radius: 50% !important;
    display: block;
    width: 15px;
    height: 15px;
    font-size: 0;
    border:none;
    margin: 0 3px;
 }
.slick-dots li button{
    border-radius: 50% !important;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    -ms-border-radius: 50% !important;
    -o-border-radius: 50% !important;
    display: block;
    width: 20px;
    height: 20px;
    font-size: 0;
    border:none;
    margin: 0 3px;
}
.slick-prev2 , .slick-next2{
    position: absolute; z-index: -10;

}
.slick-next2{
    top: 0 ;
}


/* end slider main */


.list_product{
    display: flex;
    justify-content: center;
    flex-wrap:wrap ;
    
}

.item_product{
    width: calc(100% / 3);
    margin: 0 0 20px;
    padding: 10px 22px;
}
.item_product_img img{
    display: block;
    width: 100%;

}
.item_product_img{
    overflow: hidden;
    position: relative;
    max-width: 369.325px;
    max-height: 369.325px;
}
.img2{
    position: absolute;
    width: 0;
    top: 0;
    z-index: -10;
   
}


.item_product:hover .img2{
    padding: 10px;
    z-index: 100;
    
}
.item_product:hover img{
    padding: 10px;
    transition: all 300ms;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
    
}
.product_title{
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
    margin: 40px 0 50px;
    text-align: center;
    position: relative;
}
.range{
    position: absolute;
    top: 0;
    right: 0;
}
.ohoh{
    white-space: nowrap;
    text-transform: none;
    font-size: 1rem;
}
.range-slider{
    -webkit-appearance: none;
    height: 2px;
    background: #ccc;
    outline: none;
    padding: 0 6px;
    color: #fff;
    transition: all .5s ease;
    width: 80px !important;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
}
.item_product p{
    text-transform: uppercase;
    color: #fff;
    font-size: 15px;
    padding: 20px 0 10px;
    margin: 0;
}
.item_product span{
    color: #fff;
    font-weight: 500;
    font-size: 15px;

}
.item_product button{
    display: block ;
    background: #fff;
    color: #666;
    padding: 8px 30px;
    text-transform: uppercase;
    font-weight: 500;
    margin:  15px auto 0;
   border: none;
   


} 

.item_product button:hover{
    background-color: #ccc;
    transition: all 300ms;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
}


/* paging */
.paging{
    display: flex;
    justify-content: center;
    align-items: center;
}
.item_paging{
    position: relative;
    float: left;
    padding: 0;
    line-height: 1.42857143;
    color: #09090B;
    text-decoration: none;
    background-color: #f2f2f2;
    border: 1px solid #09090B;
    font-size: 17px;
    width: 35px;
    height: 35px;
    text-align: center;
    padding-top: 4px;
    margin: 2px;
    border-radius: 0 !important;
    margin-left: -3px;
}
.item_paging:hover{
    background-color: #4c4c4c;
    border-color: #4c4c4c;
    transition: all 300ms;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
    color: #fff;
}